{% extends 'header.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'shop' %}?category={{ product.category.id }}">{{ product.category.name }}</a>
                    <span>{{ product.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <!-- Product Images -->
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        {% for image in product.images.all %}
                        <a class="pt" href="#product-{{ forloop.counter }}">
                            <img src="{{ image.image.url }}" alt="">
                        </a>
                        {% endfor %}
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            {% for image in product.images.all %}
                            <img data-hash="product-{{ forloop.counter }}" class="product__big__img" src="{{ image.image.url }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Details -->
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>{{ product.name }} <span>Brand: {{ product.brand }}</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>({{ product.reviews.count }} reviews)</span>
                    </div>
                    <div class="product__details__price">${{ product.price }}</div>
                    <p>{{ product.description }}</p>

                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input type="number" value="1" min="1" max="{{ product.stock }}">
                            </div>
                        </div>
                        <a href="{% url 'shop_cart' %}" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                    </div>

                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Availability:</span>
                                <strong>{{ product.stock }} in stock</strong>
                            </li>
                            <li>
                                <span>Category:</span> {{ product.category.name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Related Products -->
            <div class="col-lg-12">
                <div class="related__title">
                    <h5>Related Products</h5>
                </div>
                <div class="row">
                    {% for related in related_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ related.image.url }}">
                                {% if related.stock == 0 %}
                                <div class="label stockout">Out of Stock</div>
                                {% endif %}
                                <ul class="product__hover">
                                    <li><a href="{{ related.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="{% url 'shop_cart' %}"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_detail' related.id %}">{{ related.name }}</a></h6>
                                <div class="product__price">${{ related.price }}</div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No related products available.</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->

{% endblock %}
